
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: "Open Sans", sans-serif;
  background-color: #040404;
  color: #fff;
  position: relative;
  background: transparent;
}

body::before {
  content: "";
  position: fixed;
  background: #040404 url("../img/Bird-3.jpg") top right no-repeat;
  background-size: cover;
  left: 0;
  right: 0;
  top: 0;
  height: 100vh;
  z-index: -1;
}

@media (min-width: 1024px) {
  body::before {
    background-attachment: fixed;
  }
}

a {
  color: #18d26e;
  text-decoration: none;
}

a:hover {
  color: #35e888;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  z-index: 997;
  overflow-y: auto;
}



#header h1 {
  font-size: 48px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
}

#header h1 a,
#header h1 a:hover {
  color: #fff;
  line-height: 1;
  display: inline-block;
}

#header h2 {
  font-size: 18px;
  margin-top: 20px;
  color: rgba(255, 255, 255, 0.8);
}

#header h2 span {
  color: #fff;
  border-bottom: 2px solid #18d26e;
  padding-bottom: 6px;
}

#header img {
  width: 400px;
}

#header .social-links {
  margin-top: 40px;
  display: flex;
}

#header .social-links a {
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
  line-height: 1;
  margin-right: 8px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

#header .social-links a:hover {
  background: #18d26e;
}

@media (max-width: 992px) {
  #header h1 {
    font-size: 36px;
  }

  #header h2 {
    font-size: 20px;
    line-height: 30px;
  }

  #header .social-links {
    margin-top: 15px;
  }

  #header .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/* Header Top */
#header.header-top {
  height: 80px;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.9);
}

#header.header-top .social-links,
#header.header-top h2,
#header.header-top #discover-link {
  display: none;
}

#header.header-top h1 {
  margin-right: auto;
  font-size: 36px;
  
}
#header.header-top img{
  height: 50px;
  width: 250px;
}

#header.header-top .container {
  display: flex;
  align-items: center;
}

#header.header-top .navbar {
  margin: 0;
}



/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
  margin-top: 35px;
  position: relative;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar li+li {
  margin-left: 30px;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.7);
  white-space: nowrap;
}

.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar a:before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -4px;
  left: 0;
  background-color: #18d26e;
  visibility: hidden;
  width: 0px;
}

.navbar a:hover:before,
.navbar li:hover>a:before,
.navbar .active:before {
  visibility: visible;
  width: 25px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
  color: #fff;
}

/**
* Mobile Navigation 
*/





.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.9);
  z-index: 999;
  margin-top: 0;
}



.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 45px;
  left: 15px;
  padding: 10px 0;
  overflow-y: auto;
  border: 2px solid rgba(255, 255, 255, 0.2);
}

.navbar-mobile li {
  padding: 12px 20px;
}

.navbar-mobile li+li {
  margin: 0;
}

.navbar-mobile a,
.navbar-mobile a:focus {
  font-size: 16px;
  position: relative;
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  position: absolute;
  width: 100%;
  top: 140px;
  bottom: 100%;
  opacity: 0;
  z-index: 2;
}

section.section-show {
  top: 100px;
  bottom: auto;
  opacity: 1;
  padding-bottom: 45px;
}

section .container {
  background: rgba(0, 0, 0, 0.7);
  padding: 30px;
}


.section-title h2 {
  font-size: 14px;
  font-weight: 500;
  padding: 0;
  line-height: 1px;
  margin: 0 0 40px 0;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #fffefe;
  font-family: "Poppins", sans-serif;
}

.section-title h2::after {
  content: "";
  width: 120px;
  height: 1px;
  display: inline-block;
  background: #4ceb95;
  margin: 4px 10px;
}

.section-title p {
  margin: 0;
  margin: -15px 0 30px 0;
  font-size: 18px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  color: #fff;
}
/*--------------------------------------------------------------
# Discover
--------------------------------------------------------------*/ 


.discover .icon-box {

  text-align: center;
  background: rgba(204, 204, 204, 0.1);
  padding: 20px 20px;
  border-radius: 5px;
}

.discover .icon-box .icon {
  margin: 0 auto;
  width: 64px;
  height: 64px;
  background: #18d26e;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  transform-style: preserve-3d;
}



.discover .icon-box .icon::before {
  position: absolute;
  content: "";
  left: -8px;
  top: -8px;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 5px;
  transform: translateZ(-1px);
}

.discover .icon-box h4 {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 24px;
}

.discover .icon-box h4 a {
  color: #fff;
}

.discover .icon-box p {
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}

.discover .icon-box:hover .icon::before {
  background: #35e888;
}

.discover .icon-box:hover h4 a,
.discover .icon-box:hover p {
  color: #fff;
}
.two-columns  button[type=submit] {
  background: transparent;
  border:2px solid #18d26e;
  color: #fff;
  margin: 20px 30%;
  padding: 10px 70px;
  border-radius: 5px;
}

.two-columns button[type=submit]:hover {
  background: #15bb62;
}
.two-columns {
  display: grid;
  gap: 4px;
  grid-template-columns: 1.5fr 2fr;
  margin-bottom: 40px;
}

.drop-zone {
    padding: 20px;
    text-align: center;
    background-color: #eeeeee20;
    border-radius: 5px;

  }
  .drop-zone-2 {
    padding:0px 20px;
    text-align: left;
    border-radius: 5px;
    margin-bottom:10px ;
    }
  .Row-1{
    height: 10%;
    margin-bottom: 10px;
    }
  .Row-2{
    height: 80%;
    margin-bottom: 10px;
  }
.drag_drop{
  width: 100px;
  height: 100px;
}
  .drop-zone.highlight {
    background-color: #eee;
  }
  .image-preview {
    border: 1px solid #ccc;
    width: 300px;
    height: 300px;
    margin: 20px auto;
    text-align: center;
    line-height: 300px;
    overflow: hidden;
  }
  .image-preview .icon {
    font-size: 14px;
    color: #686565;
  }
  .image-preview img {
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
  }
  .upload-btn {
    display: block;
    margin: 20px 30%;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #18d26e;
    cursor: pointer;
  }
  @media screen and (max-width: 768px) {
    body::before {
      background-attachment: scroll;
    }
  
    #header .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 20px;
    }
  
    #header h1 {
      font-size: 36px;
    }
  
    #header h2 {
      font-size: 20px;
      line-height: 30px;
    }
  
    #header .social-links {
      margin-top: 15px;
    }
  
    .navbar {
      margin-top: 15px;
    }
  
   
  
    
  
    .navbar-mobile ul {
      display: block;
      top: 60px;
    }
  
    .section-title h2 {
      font-size: 12px;
      margin: 0 0 20px 0;
    }
  
    .section-title h2::after {
      width: 80px;
      height: 1px;
      margin: 4px 5px;
    }
  
    .section-title p {
      font-size: 14px;
      margin: -10px 0 20px 0;
    }
  
    .two-columns {
      display: block;
      margin-bottom: 20px;
    }
  
    .two-columns button[type=submit] {
      margin: 20px auto;
      padding: 10px 40px;
    }
  }
  