{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Bird_Species_classification</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  <!-- Vendor CSS Files -->
  <link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}">
  <link rel="stylesheet" href="{% static 'vendor/boxicons/css/boxicons.min.css' %}">
  <link rel="stylesheet" href="{% static 'vendor/glightbox/css/glightbox.min.css' %}">
  <link rel="stylesheet" href="{% static 'vendor/remixicon/remixicon.css' %}">
  <link rel="stylesheet" href="{% static 'vendor/swiper/swiper-bundle.min.css' %}">
  <!-- Template Main CSS File -->
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="{% static 'css/form.css' %}">

</head>
<body>

  <!-- Home Section -->
  <header id="header">
    <div class="container">

      <h1><a href="#" style="color: #18d26e;"><img src="{% static 'img/Bird.png' %}" class="img" ></a></h1>
      
      <h2>Do Login and Keep track of Your Activities &nbsp;&nbsp; <span> <a href="{% url 'login' %}" style="font-size:18px;">Login Here!</a></span> </h2>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link active" href="#header">Home</a></li>
          <li><a class="nav-link" href="#about">About</a></li>
          <li><a class="nav-link" href="{% url 'homediscover' %}">Discover</a></li>
          <li><a class="nav-link" href="#contact">Contact</a></li>
        </ul>
      </nav>

      <div class="social-links">
        <a href="https://twitter.com/i/flow/signup" class="twitter"><i class="bi bi-twitter"></i></a>
        <a href="https://www.facebook.com/r.php" class="facebook"><i class="bi bi-facebook"></i></a>
        <a href="https://www.instagram.com/accounts/emailsignup/" class="instagram"><i class="bi bi-instagram"></i></a>
        <a href="https://www.linkedin.com/signup" class="linkedin"><i class="bi bi-linkedin"></i></a>
      </div>

      <nav id="navbar" class="navbar">
        <ul>  
          <li><a id="discover-link" href="{% url 'homediscover' %}" class="nav-link"  style="border:2px solid #4ceb95;padding:8px 30px;border-radius: 5px;">Discover</a></li>
        </ul>

      </nav>

    </div>
  </header>
  <!-- End Home -->

  <!-- About Section -->
  <section id="about" class="about">

  <div class="about-me container">

      <div class="section-title">
        <h2>About</h2>
        <p>Learn more about me</p>
      </div>

      <div class="row">
        <div class="col-lg-4" data-aos="fade-right">
          <img src="{% static 'img/Bird-3.jpg' %}" class="img-fluid" alt="" style="border-radius: 5px;">
        </div>
        <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left" style="color: #aaaaaa;">
           <p>
            Our vision is to advance avian biodiversity understanding and conservation by developing innovative technologies for accurate bird species identification. Through cutting-edge solutions and the power of artificial intelligence, we empower researchers, conservationists, and bird enthusiasts to appreciate and protect the diversity and beauty of bird species worldwide.
           </p>
          <p>
            Our mission is to revolutionize bird species detection through advanced technologies, empowering users with reliable and user-friendly solutions. We strive to drive meaningful research, inform conservation efforts, 
            and promote environmental stewardship by leveraging advanced algorithms, extensive datasets, and collaborations with the scientific community. Our goal is to deepen understanding, inspire appreciation for the natural world, and work towards a sustainable future for birds and humans.
          <br>
          <br> 
        </div>
        <p style="color: #aaaaaa;">
          Bird species detection is vital for biodiversity conservation, ecological research, and habitat management. It helps monitor environmental changes, assess ecosystem health, and guide conservation efforts. Engaging in bird species detection promotes citizen science, education, and awareness of avian biodiversity.
        </p>
      </div>

    </div>

  <div class="testimonials container">

      <div class="section-title">
        <h2>Meet Our Developers</h2>
      </div>
      <div  style="color: #aaaaaa;">
        <p>
          Our developer team is a skilled group of team dedicated to pushing the boundaries of bird species detection technology. With expertise in software development, machine learning, and computer vision, we work together to create innovative solutions that enable accurate and efficient identification of bird species.
        </p>
        <br>
        <br> 
      </div>
      <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
        <div class="swiper-wrapper">

          <div class="swiper-slide">
              <p>
                <img src="{% static 'img/khotsha.jpeg' %}" class="img-fluid-dev" style="height:300px; width: 300px; border-radius:5px;">
              </p>
              <h3 style="font-size: 18px; font-weight: bold;">Kuenzang Wangchuk</h3>
              <h4 style="font-size: 14px;">Data analyst and Tester</h4>
          </div>

          <div class="swiper-slide">
            <p>
              <img src="{% static 'img/GyemTshering.jpeg' %}" class="img-fluid-dev" style="height:300px; width: 300px; border-radius:5px;">
            </p>
            <h3 style="font-size: 18px; font-weight: bold;">Gyem Tshering</h3>
            <h4 style="font-size: 14px;">Main Developer and Lead</h4>
        </div>

          <div class="swiper-slide">
            <p>
              <img src="{% static 'img/Bir.jpeg' %}" class="img-fluid-dev" style="height:300px; width: 300px;  border-radius:5px;">
            </p>
            <h3 style="font-size: 18px; font-weight: bold;">Bir Bdr Tamang </h3>
            <h4 style="font-size: 14px;">Data Scientist</h4>
        </div>

          <div class="swiper-slide">
            <p>
              <img src="{% static 'img/tshotsho.jpeg' %}" class="img-fluid-dev" style="height:300px; width: 300px;border-radius:5px">
            </p>
            <h3 style="font-size: 18px; font-weight: bold;">Kelzang Phuntsho</h3>
            <h4 style="font-size: 14px;">Frontend developer</h4>
        </div>

          <div class="swiper-slide">
            <p>
              <img src="{% static 'img/Deki.jpeg' %}" class="img-fluid-dev" style="height:300px; width: 300px;border-radius:5px;">
            </p>
            <h3 style="font-size: 18px; font-weight: bold;">Deki Yangden</h3>
            <h4 style="font-size: 14px;">Documentation and UI/UX design</h4>
        </div>

        </div>
        <div class="swiper-pagination"></div>
      </div>

      <div class="owl-carousel testimonials-carousel">

      </div>

    </div>

  </section>
  <!-- End About Section -->

   <!-- Contact Section -->
   <section id="contact" class="contact">
    <div class="container">

      <div class="section-title">
        <h2>Contact</h2>
        <p>Contact Us for Any Queries</p>
      </div>

      <div class="row mt-2">

        <div class="col-md-6 d-flex align-items-stretch">
          <div class="info-box">
            <i class="bx bx-map"></i>
            <h3>My Address</h3>
            <p>Mongar, Gyelpozhing</p>
          </div>
        </div>

        <div class="col-md-6 mt-4 mt-md-0 d-flex align-items-stretch">
          <div class="info-box">
            <i class="bx bx-share-alt"></i>
            <h3>Social Profiles</h3>
            <div class="social-links">
              <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
              <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
              <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
              <a href="#" class="google-plus"><i class="bi bi-skype"></i></a>
              <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
        </div>

        <div class="col-md-6 mt-4 d-flex align-items-stretch">
          <div class="info-box">
            <i class="bx bx-envelope"></i>
            <h3>Email Me</h3>
            <p>BirdspeciesDetection@example.com</p>
          </div>
        </div>
        <div class="col-md-6 mt-4 d-flex align-items-stretch">
          <div class="info-box">
            <i class="bx bx-phone-call"></i>
            <h3>Call Me</h3>
            <p>+975 7739 8819</p>
          </div>
        </div>
      </div>
      <form class="my-form">
        <div class="container">
          <h1>Get in touch!</h1>
          <ul>
            <li>
              <div class="grid grid-1">
                <input type="text" placeholder="Name" required>  
              </div>
            </li>
            <li>
              <div class="grid grid-2">
                <input type="email" placeholder="Email" required>  
                <input type="text" placeholder="subject" required>  
              </div>
            </li>    
            <li>
              <textarea placeholder="Message"></textarea>
            </li>   
      
            <li>
              <div class="grid grid-">
                <div class="required-msg">Login in to access this form</div>
                <button class="btn-grid" type="submit" disabled>
                  <span class="back">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/email-icon.svg" alt="">
                  </span>
                  <span class="front">SUBMIT</span>
                </button>
               
              </div>
            </li>    
          </ul>
        </div>
      </form>

    
    </div>
  </section>
  <!-- End Contact Section -->

  <!-- Vendor JS Files -->

  <script src="{% static 'vendor/purecounter/purecounter_vanilla.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'vendor/waypoints/noframework.waypoints.js' %}"></script>
  <script src="{% static 'vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'js/main.js' %}"></script>
  <script>
  
    const dropZone = document.getElementById('drop-zone');
    const previewImg = document.getElementById('preview-img');
    const fileInput = document.getElementById('file-input');
    const icon = document.querySelector('.icon');
    
    dropZone.addEventListener('dragover', (e) => {
      e.preventDefault();
      dropZone.classList.add('highlight');
    });
    
    dropZone.addEventListener('dragleave', (e) => {
      e.preventDefault();
      dropZone.classList.remove('highlight');
    });
    
    dropZone.addEventListener('drop', (e) => {
      e.preventDefault();
      dropZone.classList.remove('highlight');
      
      const file = e.dataTransfer.files[0];
      const reader = new FileReader();
      
      reader.onload = () => {
        previewImg.src = reader.result;
        icon.style.display = 'none';
      }
      
      reader.readAsDataURL(file);
    });
    
    fileInput.addEventListener('change', (e) => {
      const file = fileInput.files[0];
      const reader = new FileReader();
      
      reader.onload = () => {
        previewImg.src = reader.result;
        icon.style.display = 'none';
      }
      
      reader.readAsDataURL(file);
    });
  </script>

</body>


</html>