{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Signup Page</title>
 
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/register.css' %}">

</head>
<body>
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    <form action="" method="post">
        {% csrf_token %} 
        <h3>Signup Here</h3>

        <label for="username">Username</label>
        <input type="text" placeholder="Username" name="username" id="username">

        <label for="email">Email</label>
        <input type="email" placeholder="Email or Phone" name="email" id="email">

        <label for="password1">Password</label>
        <input type="password" placeholder="Password" id="password1" name="password1">


        <label for="password2">Confirm Password</label>
        <input type="password" placeholder="Confirm Password" id="password2" name="password2">
        {% if error_message %}
        <p id="error-message" style="font-size: 14px; color: #ff512f; margin-top: 20px;">{{ error_message }}</p>
        {% else %}
        {% if messages %}
          <div class="success-message">
            {% for message in messages %}
              <h4 style="color: #18d26e; margin-top: 20px; font-size: 14px;">{{ message }}</h4>
            {% endfor %}
          </div>
        {% endif %}
        {% endif %}
        <button type="submit">Signup</button>
        
        <h5>Already have an account?  <a href="{% url 'login' %}" >Login to account</a></h5>
    </form>
</body>
</html>
<script>
    const errorMessage = document.getElementById('error-message');
    if (errorMessage) {
      setTimeout(() => {
        errorMessage.style.display = 'none';
      }, 2000);
    }
</script>
