{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Bird_Species_classification</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  
  <link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}">
  <link rel="stylesheet" href="{% static 'vendor/boxicons/css/boxicons.min.css' %}">
  <link rel="stylesheet" href="{% static 'vendor/glightbox/css/glightbox.min.css' %}">
  <link rel="stylesheet" href="{% static 'vendor/remixicon/remixicon.css' %}">
  <link rel="stylesheet" href="{% static 'vendor/swiper/swiper-bundle.min.css' %}">


  <!-- Template Main CSS File -->
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="{% static 'css/form.css' %}">

</head>

<body>

  <!-- Home Section -->
  <header id="header">
    <div class="container">

      <h1><a href="#" style="color: #18d26e;"><img src="{% static 'img/Bird.png' %}" class="img" ></a></h1>

      <h2> Welcome &nbsp;&nbsp;{% if user.is_authenticated %}
          {{ user.username }} {% else %}  {% endif %} &nbsp;&nbsp; Have Your Own Profile Now </h2>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link active" href="#header">Home</a></li>
          <li><a class="nav-link" href="#about">About</a></li>
          <li><a class="nav-link" href="{% url 'userhomediscover'%}">Discover</a></li>
          <li><a class="nav-link" href="#profile">Profile</a></li>
          <li><a class="nav-link" href="#contact">Contact</a></li>
          <li>{% if user.is_authenticated %}<a class="nav-link" href="{% url 'home' %}">Logout</a>{% endif %}</li>

        </ul>
      </nav>

      <div class="social-links">
        <a href="https://twitter.com/i/flow/signup" class="twitter"><i class="bi bi-twitter"></i></a>
        <a href="https://www.facebook.com/r.php" class="facebook"><i class="bi bi-facebook"></i></a>
        <a href="https://www.instagram.com/accounts/emailsignup/" class="instagram"><i class="bi bi-instagram"></i></a>
        <a href="https://www.linkedin.com/signup" class="linkedin"><i class="bi bi-linkedin"></i></a>
      </div>
      <nav id="navbar" class="navbar">
        <ul>  
          <li><a id="discover-link" href="{% url 'userhomediscover' %}" class="nav-link"  style="border:2px solid #4ceb95;padding:8px 30px;border-radius: 5px;">Discover</a></li>
        </ul>
      </nav>
   
    </div>
  </header>
  <!--End Home Section -->

  <!-- About Section -->
   <section id="about" class="about">

    <div class="about-me container">
  
        <div class="section-title">
          <h2>About</h2>
          <p>Learn More About Us</p>
        </div>
  
        <div class="row">
          <div class="col-lg-4" data-aos="fade-right">
            <img src="{% static 'img/Bird-3.jpg' %}" class="img-fluid" alt="" style="border-radius: 5px;">
          </div>
          <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
            <p class="fs-16" style="color: #aaaaaa;">
              Officiis eligendi itaque labore et dolorum mollitia officiis optio vero. Quisquam sunt adipisci omnis et ut. Nulla accusantium dolor incidunt officia tempore. Et eius omnis.
              Cupiditate ut dicta maxime officiis quidem quia. Sed et consectetur qui quia repellendus itaque neque. Aliquid amet quidem ut quaerat cupiditate. Ab et eum qui repellendus omnis culpa magni laudantium dolores.
            </p>
            <p class="fs-16" style="color: #aaaaaa;">
              Officiis eligendi itaque labore et dolorum mollitia officiis optio vero. Quisquam sunt adipisci omnis et ut. Nulla accusantium dolor incidunt officia tempore. Et eius omnis.
              Cupiditate ut dicta maxime officiis quidem quia. Sed et consectetur qui quia repellendus itaque neque. Aliquid amet quidem ut quaerat cupiditate. Ab et eum qui repellendus omnis culpa magni laudantium dolores.
            </p>
            <br>
            <br> 
          </div>
          <p class="fs-16" style="color: #aaaaaa;">
            Officiis eligendi itaque labore et dolorum mollitia officiis optio vero. Quisquam sunt adipisci omnis et ut. Nulla accusantium dolor incidunt officia tempore. Et eius omnis.
            Cupiditate ut dicta maxime officiis quidem quia. Sed et consectetur qui quia repellendus itaque neque. Aliquid amet quidem ut quaerat cupiditate. Ab et eum qui repellendus omnis culpa magni laudantium dolores.
          </p>
        </div>
  
      </div>
  
    <div class="testimonials container">
  
        <div class="section-title">
          <h2>Meet Our Developers</h2>
        </div>
  
        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">
  
            <div class="swiper-slide">
                <p>
                  <img src="{% static 'img/khotsha.jpeg' %}" class="img-fluid-dev" style="height:300px; width: 300px;border-radius: 5px;">
                </p>
                <h3 style="font-size: 18px; font-weight: bold;">Kuenzang Wangchuk</h3>
                <h4 style="font-size: 14px;">Data analyst and Tester</h4>
            </div>
  
            <div class="swiper-slide">
              <p>
                <img src="{% static 'img/GyemTshering.jpeg' %}" class="img-fluid-dev" style="height:300px; width: 300px;border-radius: 5px;">
              </p>
              <h3 style="font-size: 18px; font-weight: bold;">Gyem Tshering</h3>
              <h4 style="font-size: 14px;">Main Developer and Lead</h4>
          </div>
  
            <div class="swiper-slide">
              <p>
                <img src="{% static 'img/bir.jpeg' %}" class="img-fluid-dev" style="height:300px; width: 300px;border-radius: 5px;">
              </p>
              <h3 style="font-size: 18px; font-weight: bold;">Bir Bdr Tamang </h3>
              <h4 style="font-size: 14px;">Data Scientist</h4>
          </div>
  
            <div class="swiper-slide">
              <p>
                <img src="{% static 'img/tshotsho.jpeg' %}" class="img-fluid-dev" style="height:300px; width: 300px;border-radius: 5px;">
              </p>
              <h3 style="font-size: 18px; font-weight: bold;">Kelzang Phuntsho</h3>
              <h4 style="font-size: 14px;">Frontend developer</h4>
          </div>
  
            <div class="swiper-slide">
              <p>
                <img src="{% static 'img/Deki.jpeg' %}" class="img-fluid-dev" style="height:300px; width: 300px;border-radius: 5px;">
              </p>
              <h3 style="font-size: 18px; font-weight: bold;">Deki Yangden</h3>
              <h4 style="font-size: 14px;">Documentation and UI/UX design</h4>
          </div>
  
          </div>
          <div class="swiper-pagination"></div>
        </div>
  
        <div class="owl-carousel testimonials-carousel">
  
        </div>
  
      </div>
  
   </section>
  <!-- End About Section -->

  <!-- Profile Section -->
   <section id="profile" class="profile">
    <div class="container">

      <div class="section-title">
        <h2>Profile</h2>
        <p>Know More About Yourself</p>
      </div>

      <div class="row mt-2">
          <div class="col-md-6 mt-4 d-flex align-items-stretch">
            <div class="info-box">
              <h3>Username</h3>
              <p>{{user.username}}</p>
            </div>
          </div>
          <div class="col-md-6 mt-4 d-flex align-items-stretch">
            <div class="info-box">
              <h3>Email Me</h3>
              <p>{{user.email}}
            </div>
          </div>
               
      </div>
      <div class="history-section">
        <div class="section-title">
          <h2>Keep Track Your Activities</h2>
        </div>
        <div style="display: flex;justify-content: space-between; color:#18d26e; margin-bottom: 20px;">
            <div>Bird Name</div>
            <div>Probability</div>
            <div>Date and time</div>
            <div></div>
        </div>
        <div class="scrollable-history" >
          {% for bird in birds %}
          <div class="info-box" style="display: flex;justify-content: space-between; color: aliceblue;align-items: flex-start;">
            <div>{{ bird.predicted_class }} </div>
            <div>{{ bird.probability }}</div>
            <div>{{bird.date_created}}</div>
            <div>
              <form id="deleteForm" method="post">
                {% csrf_token %}
                <input type="hidden" name="bird_id" value="{{ bird.id }}">
                <button type="button" onclick="showDeleteConfirmation()" style="border-radius: 5px; border: 0px; background-color: #18d26e; color: aliceblue; padding: 5px 10px;">Delete</button>
                <input type="hidden" name="confirm_delete" id="confirmDeleteInput">
              </form>
            </div>
          </div>
          {% endfor %}

        </div>

    </div>

   </section>
  <!-- End Profile Section -->

  <!-- Contact Section -->
   <section id="contact" class="contact">
    <div class="container">

      <div class="section-title">
        <h2>Contact</h2>
        <p>Contact Us for Any Queries</p>
      </div>

      <div class="row mt-2">

        <div class="col-md-6 d-flex align-items-stretch">
          <div class="info-box">
            <i class="bx bx-map"></i>
            <h3>My Address</h3>
            <p>Mongar, Gyelpozhing</p>
          </div>
        </div>

        <div class="col-md-6 mt-4 mt-md-0 d-flex align-items-stretch">
          <div class="info-box">
            <i class="bx bx-share-alt"></i>
            <h3>Social Profiles</h3>
            <div class="social-links">
              <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
              <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
              <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
              <a href="#" class="google-plus"><i class="bi bi-skype"></i></a>
              <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
        </div>

        <div class="col-md-6 mt-4 d-flex align-items-stretch">
          <div class="info-box">
            <i class="bx bx-envelope"></i>
            <h3>Email Me</h3>
            <p>BirdspeciesDetection@example.com</p>
          </div>
        </div>
        <div class="col-md-6 mt-4 d-flex align-items-stretch">
          <div class="info-box">
            <i class="bx bx-phone-call"></i>
            <h3>Call Me</h3>
            <p>+975 7739 8819</p>
          </div>
        </div>
      </div>
      <form class="my-form" method="POST">
        {% csrf_token %}
        <div class="container">
          <h4>Get in touch!</h4>
          <ul>
            <li>
              <div class="grid grid-1">
                <input type="text"  name="name" value="{{user.username}}" required readonly>  
              </div>
            </li>
            <li>
              <div class="grid grid-2">
                <input type="email" name="email" value="{{user.email}}" required readonly>  
                <input type="text"  name="subject" required>  
              </div>
            </li>    
            <li>
              <textarea placeholder="Message" name="message"></textarea>
            </li>   
       
            <li>
              <div class="grid grid-1">
                <button class="btn-grid" type="submit" name="feedback">
                 SUBMIT
                </button>
                <div class="success-message" id="success-message">
                  {% for message in messages %}
                    <h4 style="color: #18d26e; margin-top: 20px; font-size: 14px;">{{ message }}</h4>
                  {% endfor %}
                </div>
                
              </div>
            </li>    
          </ul>
        </div>
      </form>

    
    </div>
   </section>
  <!-- End Contact Section -->

 

   <!-- Vendor JS Files -->

  <script src="{% static 'vendor/purecounter/purecounter_vanilla.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'vendor/waypoints/noframework.waypoints.js' %}"></script>
  <script src="{% static 'vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'js/main.js' %}"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
  
    const dropZone = document.getElementById('drop-zone');
    const previewImg = document.getElementById('preview-img');
    const fileInput = document.getElementById('file-input');
    const icon = document.querySelector('.icon');
    
    dropZone.addEventListener('dragover', (e) => {
      e.preventDefault();
      dropZone.classList.add('highlight');
    });
    
    dropZone.addEventListener('dragleave', (e) => {
      e.preventDefault();
      dropZone.classList.remove('highlight');
    });
    
    dropZone.addEventListener('drop', (e) => {
      e.preventDefault();
      dropZone.classList.remove('highlight');
      
      const file = e.dataTransfer.files[0];
      const reader = new FileReader();
      
      reader.onload = () => {
        previewImg.src = reader.result;
        icon.style.display = 'none';
      }
      
      reader.readAsDataURL(file);
    });
    
    fileInput.addEventListener('change', (e) => {
      const file = fileInput.files[0];
      const reader = new FileReader();
      
      reader.onload = () => {
        previewImg.src = reader.result;
        icon.style.display = 'none';
      }
      
      reader.readAsDataURL(file);
    });
  </script>
  <script>
    function showDeleteConfirmation() {
  var dialogBox = document.createElement('div');
  dialogBox.className = 'dialog-box';
  dialogBox.innerHTML = 'Are you sure you want to delete?<br><br>';
  var confirmButton = document.createElement('button');
  confirmButton.textContent = 'Confirm';
  confirmButton.style.borderRadius = '5px';
  confirmButton.style.marginRight = '20px';
  confirmButton.style.padding = '5px 20px'; 
  confirmButton.style.border = '0px';
  confirmButton.style.color = 'white';   
  confirmButton.style.backgroundColor = '#18d26e'; 
  confirmButton.addEventListener('click', function() {
    document.getElementById('confirmDeleteInput').value = 'true';
    document.getElementById('deleteForm').submit();
  });
  dialogBox.appendChild(confirmButton);

  var cancelButton = document.createElement('button');
  cancelButton.textContent = 'Cancel';
  cancelButton.style.marginRight = '30px'; 
  cancelButton.style.padding = '5px 20px'; 
  cancelButton.style.borderRadius = '5px';
  cancelButton.style.color = 'white';   
  cancelButton.style.border = '0px';
  cancelButton.style.backgroundColor = '#18d26e'; 
  cancelButton.addEventListener('click', function() {
    document.body.removeChild(dialogBox);
  });
  dialogBox.appendChild(cancelButton);

  document.body.appendChild(dialogBox);
}

  </script>
 <script>
  // Function to hide the success message after a delay
  setTimeout(function() {
    var successMessage = document.getElementById("success-message");
    if (successMessage) {
      successMessage.style.display = "none";
    }
  }, 5000); // 5000 milliseconds = 5 seconds
</script>
 
    <style>
      .scrollable-history {
        max-height: 300px; 
       overflow-y: auto;
      }
      .dialog-box {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color:#18d26e;
  background-color: #f4f4f4;
  width: 500px;
  padding: 50px 20px;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
  z-index: 9999; /* Set a high z-index value to ensure it appears above other elements */
}



    </style>
</body>


</html>