{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Bird_Species_classification</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  <!-- Vendor CSS Files -->
  <link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}">
  <link rel="stylesheet" href="{% static 'vendor/boxicons/css/boxicons.min.css' %}">
  <link rel="stylesheet" href="{% static 'vendor/glightbox/css/glightbox.min.css' %}">
  <link rel="stylesheet" href="{% static 'vendor/remixicon/remixicon.css' %}">
  <link rel="stylesheet" href="{% static 'vendor/swiper/swiper-bundle.min.css' %}">
  <!-- Template Main CSS File -->
  <link rel="stylesheet" href="{% static 'css/discover.css' %}">

</head>
<body>
  <header id="header" class="header-top">
  <div class="container">

    <h1><a href="{% url 'userhome' %}#home" style="color: #18d26e;"><img src="{% static 'img/Bird.png' %}" class="img" ></a></h1>
    
    <nav id="navbar" class="navbar">
      <ul>
        <li><a class="nav-link" href="{% url 'userhome' %}#home">Home</a></li>
        <li><a class="nav-link" href="{% url 'userhome' %}#about">About</a></li>
        <li><a class="nav-link active" href="{% url 'userhomediscover' %}">Discover</a></li>
        <li><a class="nav-link" href="{% url 'userhome' %}#profile">Profile</a></li>
        <li><a class="nav-link" href="{% url 'userhome' %}#contact">Contact</a></li>
        <li>{% if user.is_authenticated %}<a class="nav-link" href="{% url 'home' %}">Logout</a>{% endif %}</li>


      </ul>
    </nav>

    <div class="social-links">
      <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
      <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
      <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
      <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
    </div>
 
    <nav id="navbar" class="navbar">
      <ul>  
        <li><a id="discover-link" href="{% url 'userhomediscover' %}" class="nav-link"  style="border:2px solid #4ceb95;padding:8px 30px;border-radius: 5px;">Discover</a></li>
      </ul>
    </nav>

  </div>
  </header>

  <!--  discover Section -->

  <section id="discover" class="discover section-show">
    <div class="container">

      <div class="section-title">
        <h2>Discover</h2>
        <p>Discover The Birds Here</p>
      </div>

      <div class="row">

        <div class="two-columns">
                <div class="drop-zone" id="drop-zone">
                  <div class="image-preview">
                    <span class="icon">
                      <p>No Image Choosen</p></span>
                      <img id="preview-img" >
                  </div>
                  {% if error_message %}
                      <p class="error" style="color: red;">{{ error_message }}</p>
                  {% endif %}
                  <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                  <input type="file" id="image" style="display: none;" name="image">
                  <label for="image" class="upload-btn">Choose  image</label>
                  <button type="submit" value="submit">Predict</button>
                  
                  </form>
                </div>

                <div class="drop-zone-2" id="drop-zone">
                  
                  <!-- Add this code where you want to display the image -->
                  {% if encoded_image %}
                  <img src="data:image/jpeg;base64,{{ encoded_image }}"  style="width: 300px;height: 200px;margin-bottom: 20px; border-radius: 5px";>
                  {% endif %}

                    <div class="section-title">
                      <h2>Predicted species Result</h2>
                    </div>
                    
                    <div class="Row-1" >
                      {% if predicted_class %}
                      <h6>{{ predicted_class }}</h6>
                      {% else %}
                      <h6>No image detected</h6>
                      {% endif %}
                    </div>
                  
                    <div class="section-title">
                      <h2>Description</h2>
                      {% if bird_info %}
                      <div class="Row-2">
                        <h6>The scientific name for this bird is {{ bird_info.scientific_name }} and belongs to {{ bird_info.family }} bird family. {{ bird_info.description }}</h6>
                      </div>
                      {% else %}
                        <div class="Row-2">
                          <h6 style="color: #e6e2e2;">No details found</h6>
                        </div>
                      {% endif %}
                    </div>
                  
                </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
          <div class="icon-box">
            <img src="../static/img/Bird-2.jpeg" style="width: 300px;height: 200px;margin-bottom: 20px; border-radius: 5px";>
            <h4><a href="">Nemo Enim</a></h4>
            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
          <div class="icon-box">
            <img src="../static/img/Bird-2.jpeg" style="width: 300px;height: 200px;margin-bottom: 20px; border-radius: 5px">
            <h4><a href="">Dele cardo</a></h4>
            <p>Quis consequatur saepe eligendi voluptatem consequatur dolor consequuntur</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
          <div class="icon-box">
            <img src="../static/img/Bird-2.jpeg" style="width: 300px;height: 200px;margin-bottom: 20px; border-radius: 5px">
            <h4><a href="">Divera don</a></h4>
            <p>Modi nostrum vel laborum. Porro fugit error sit minus sapiente sit aspernatur</p>
          </div>
        </div>

      </div>

    </div>
  </section>
  <!-- End discover Section -->



  <!-- Vendor JS Files -->

  <script src="{% static 'vendor/purecounter/purecounter_vanilla.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'vendor/waypoints/noframework.waypoints.js' %}"></script>
  <script src="{% static 'vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'js/main.js' %}"></script>
  <script>
  
    const dropZone = document.getElementById('drop-zone');
    const previewImg = document.getElementById('preview-img');
    const fileInput = document.getElementById('image');
    const icon = document.querySelector('.icon');
    
    dropZone.addEventListener('dragover', (e) => {
      e.preventDefault();
      dropZone.classList.add('highlight');
    });
    
    dropZone.addEventListener('dragleave', (e) => {
      e.preventDefault();
      dropZone.classList.remove('highlight');
    });
    
    dropZone.addEventListener('drop', (e) => {
      e.preventDefault();
      dropZone.classList.remove('highlight');
      
      const file = e.dataTransfer.files[0];
      const reader = new FileReader();
      
      reader.onload = () => {
        previewImg.src = reader.result;
        icon.style.display = 'none';
      }
      
      reader.readAsDataURL(file);
    });
    
    fileInput.addEventListener('change', (e) => {
      const file = fileInput.files[0];
      const reader = new FileReader();
      
      reader.onload = () => {
        previewImg.src = reader.result;
        icon.style.display = 'none';
      }
      
      reader.readAsDataURL(file);
    });
  </script>

</body>


</html>